<mat-toolbar color="primary" class="row navbar align-items-center px-5">
  <div class="col-lg-2 col-md-10 order-lg-1 order-md-1">
    <a href="/" class="text-link">
      <mat-icon class="mr-2" [inline]="true">language</mat-icon>
      <span class="branding-text">Countries</span>
    </a>
  </div>
  <div
    class="col-lg-8 row justify-content-center align-items-center order-lg-2 order-md-3"
  >
    <button *ngIf="firstLanguage" mat-raised-button color="accent">
      From {{ firstLanguage }}
    </button>
    <button
      *ngIf="secondLanguage"
      mat-raised-button
      color="accent"
      class="ml-2"
    >
      To {{ secondLanguage }}
    </button>
    <button
      *ngIf="firstLanguage && secondLanguage"
      mat-flat-button
      color="accent"
      class="ml-2"
      (click)="onResetClick()"
    >
      <mat-icon [inline]="true" class="mr-2">close</mat-icon><span>Reset</span>
    </button>
    <button
      *ngIf="firstLanguage && secondLanguage"
      mat-flat-button
      color="accent"
      class="ml-2"
      (click)="onTranslateClick()"
    >
      <mat-icon [inline]="true" class="mr-2">g_translate</mat-icon
      ><span>Translate</span>
    </button>
  </div>
  <div class="col-lg-2 col-md-2 order-lg-3 order-md-2 d-none d-md-block">
    <a
      href="https://github.com/anhtungbui/angular-graphql-first-app"
      class="text-link"
      target="_blank"
    >
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
        To GitHub
      </button>
    </a>
  </div>
</mat-toolbar>
