<mat-toolbar color="primary" class="row navbar align-items-center px-5">
  <div class="col-2">
    <a href="/" class="text-link">
      <span>Country List | GraphQL</span>
    </a>
  </div>
  <div class="col-6">
    <!-- <input matInput type="search" class="d" placeholder="Search language" /> -->
  </div>
  <div class="col-3">
    <!-- <mat-form-field class="form-field">
      <mat-label>Search language</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="query"
        (ngModelChange)="onQueryChange($event)"
      />
      <button
        mat-button
        *ngIf="query"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="query = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> -->
  </div>
  <div class="col-1">
    <a
      href="https://github.com/anhtungbui/angular-graphql-first-app"
      class="text-link"
      target="_blank"
    >
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
        To GitHub
      </button>
    </a>
  </div>
</mat-toolbar>
